 <!-- Footer -->
 <footer id="footer" class="footer-section">
    <div class="container">
        <div class="footer-content pb-5">
            <div class="row">
                <div class="col-xl-6 col-lg-5 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html" class="logo d-flex align-items-center">
                              <h1>Premier Motor Service<span>.</span></h1>
                            </a>
                        </div>
                        <div class="footer-text">
                            <p>Premier Motor Service operates extensive bus services all over NSW </p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="#"><i class="fa fa-facebook facebook-bg"></i></a>
                            <a href="#"><i class="fa fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fa fa-google google-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/BusTrackInterface">Track Bus</a></li>
                            <li><a href="/Service">Services</a></li>
                            <li><a href="/CompanyProfile">Company Profile</a></li>
                            <li><a href="/HydrogenBusProfile">Hydrogen Bus Profile</a></li>
                            <li><a href="/Contact">Contact</a></li>
                            <li><a href="/TermAndCondition">Terms & Conditions</a></li>
                            <li><a href="/PrivacyPolicy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-50">
                  <div class="contact-information-box-3">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="single-contact-info-box">
                          <div class="contact-info">
                            <h6>Address:</h6>
                            <p>13-23 Investigator Drive</p>
                            <p>Unanderra NSW 2526</p>
                          </div>
                          <div class="contact-info">
                            <h6>Email:</h6>
                            <p>enquiries@premierillawarra.com.au</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-left text-lg-left">
                    <div class="copyright-text">
                        <p>Premier Illawarra © 2023 - Designed by <a href="https://www.templatemonster.com/authors/zrthemes/">Zr Themes.</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block">
                    <div class="footer-menu text-right">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/TermAndCondition">Terms and Condition</a></li>
                            <li><a href="/PrivacyPolicy">Privacy Policy</a></li>
                            <li><a href="/Contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>
  <!-- End Footer -->
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<script src="../assets/javascripts/jquery.min.js"></script>
<script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/vendor/aos/aos.js"></script>
<script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../assets/javascripts/plugins.js"></script>
<script src="../assets/javascripts/validator.min.js"></script>
<script src="../assets/javascripts/contactform.js"></script>

<!-- Template Main JS File -->
<script src="../assets/javascripts/main.js"></script>