    <style>
    .header .logo_secondary img
    {
      display: none;
    }
    
    @media screen and (max-width: 868px) {
      .header .logo img {
        display: none;
      }
      
      .header .logo_secondary img
      {
        display: block;
      }
      
    }
    
    @media screen and (max-width: 560px) {
      .header .logo img {
        display: none;
      }
      
      .header .logo_secondary img
      {
        display: block;
      }
      
    }
    </style>
  
</head>

<body>

  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="d-md-flex align-items-center">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">enquiries@premierillawarra.com.au</a></i>
        </div>
        
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container container-xl d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="../assets/images/logo.png" alt="logo"> 
      </a>
      <a href="/" class="logo_secondary d-flex align-items-center">
        <img src="../assets/images/apple-touch-icon.png" alt="logo" > 
      </a>
      <a href="https://www.arccaus.com.au/" class="logo d-flex align-items-center">
        <img src="../assets/images/logos/arcc.png" alt="logo">
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/BusTrackInterface">Track Bus</a></li>
          <li><a href="/Service">Service</a></li>
          <li class="dropdown"><a href="/CompanyProfile"><span>About Us</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/Contact">Contact Us</a></li>
              <li><a href="/CompanyProfile">Company Profile</a></li>
              <li><a href="/HydrogenBusProfile">Hydrogen Bus Profile</a></li>
            </ul>
          </li>
          <li><a href="/Feedback">Customer Questionnaire</a></li>
        </ul>
      </nav><!-- navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>

  </header><!-- End Header -->
  <!-- End Header -->
