<%- include('../views/partials/head'); %>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Sassy+Frass&family=Yellowtail&display=swap" rel="stylesheet">
<link href="../assets/stylesheets/CompanyProfileCss.css" rel="stylesheet">

<%- include('../views/partials/header'); %>
  <!-- - - - - - - - -  Hero Section - - - - - - - -  -->

  <section id="hero" class="page-hero">
    <div class="container position-relative">
     
      <div class="breadcrumb">
        <ul>
          <li><strong>You are here:</strong></li>
          <li><a href="/">Home</a></li>
          <li><i class="bi bi-chevron-double-right"></i></li>
          <li>Company Profile</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <!-- About Us Section -->
  <section id="abouts" class="abouts">
    <div class="OurStoryContainer" data-aos="fade-up">
      <div class="background"></div>
     <!-- <div class="woolf"></div> --> 
      
      <div class="content-container">
        <div class="content">
          <h1>Premier Illawarra</h1>
          <hr>
          <h2>Premier Transport Group</h2>
      
          <p>Premier Transport Group is an Australian operator of bus and coach services in New South Wales and Queensland.Its origins can be traced back to December 1987 when John King purchased Nowra Coaches. It has since expanded through a number of acquisitions.</p>
      
          <p>In December 1987, John King purchased Nowra Coaches from Bill Gill. Nowra Coaches expanded in August 1988 when the school bus services of Sampson Tours were acquired. An all blue livery was adopted. Following the purchase of Pioneer Motor Service, the turquoise and white livery of the express operator was adopted in the 2000s and the operation rebranded Premier Shoalhaven.</p>
      
          <p>In July 2013, Premier Shoalhaven commenced operating a service between Moss Vale station and Goulburn under contract to NSW TrainLink. It also operates late night services between Bomaderry and Kiama for NSW TrainLink.</p>
      
          <p>1993 Due to a down turn in long distance touring, the King Family started NCT Tours (Asian Travel Agency) marketing directly to the overseas inbound market, NCT operated up until 2020 when it was decided due to COVID 19 to suspend the inbound department.</p>
      
          <h2>Premier Motor Service</h2>
          <p>Pioneer Motor Service commenced operating in August 1929 when Cecil Haigh commenced operating a service from Bomaderry station (Nowra) to Bega via Tilba, Bermagui, Cobargo and Quaama. In 1946 the Bega to Eden service was purchase from Edwards Bus Service. Towns north of Tilba were served by Bartletts Bus Service and Harrisons Motor Service.</p>
      
          <p>In 1962, Pioneer Motor Service purchased Bartletts Bus Service from John A Gilbert resulting in Pioneer Motor Service covering the whole of the South Coast between Nowra and Eden. Harrisons continued to operate the night service until it ceased operating the service in the 1970s. Pioneer Motor Service commenced picking up on the night service also, becoming the sole long distance operator on the South Coast. Following deregulation in the 1990s, Pioneer Motor Service extended its services north to Sydney.</p>
      
          <p>In May 1995, the Haigh family sold the business to John King with the depot relocated to the Nowra Coaches facility</p>
      
          <p>In 1998, the Nowra Coaches group commenced the Year 2000 compliance conversion and have now completed it early in 1999. Premier and Pioneer Motor Service has installed the first Internet booking system for this industry. Agents booking our services can enjoy the efficiency and accuracy of booking straight onto our system through INTERBUS. No more lengthy phone calls or delays waiting for operators plus the ability to get the best product for their clients immediately.</p>
          
          <p>In June 1996, the Sydney to Brisbane services of Kirkland's Bros were acquired followed in August 1996 by the Sydney to Brisbane services of Lindsay's Coaches. Both of these were rebranded as Pioneer Motor Service. In 1997 Greyhound Pioneer Australia took legal action to prevent the Pioneer Motor Service name being used on the services north of Sydney. This action was successful and the operation was rebranded as Premier Motor Service.</p>
          
          <h2>Premier Illawarra</h2>
          <p>On 14 June 2001, John King purchased the two largest operators in Wollongong, John J Hill and Rutty's Bus Service with 125 buses, and rebranded both as Premier Illawarra.</p>

          <p>Since 2008, Premier Illawarra's routes have formed Sydney Outer Metropolitan Bus Region 10 in Wollongong's southern suburbs. It operates depots in Shellharbour and Unanderra.</p>

          <h2>Surf City</h2>
          <p>In July 2007, the Surf City coach operation on the Gold Coast was purchased.</p>

          <h2>Premier Queensland</h2>
          <p>In 2012, Premier Transport Group purchased the business of Busit Queensland with depots in Mackay and Moranbah. It operates school services and contracts for Central Queensland mines including for the BHP Billiton Mitsubishi Alliance.</p>
          
          <h2>Premier Charter</h2>
          <p>On 2 February 2015, the business of Green's Northern Coaches, Thirroul was purchased with 18 buses and rebranded as Premier Charters. It operates two routes as part of Sydney Outer Metropolitan Bus Region 9 in Wollongong's northern suburbs.</p>

          <h2>Hopkinsons</h2>
          <p>On 1 March 2015, a 50% shareholding in Western Sydney charter operator Hopkinsons was purchased.The other 50% was acquired by Gerard King of Kiama Coaches.</p>

          <h2>Kiama Coaches</h2>
          <p>At the time Hopkinsons was acquired, Kiama Coaches also became part of the Premier Transport Group.</p>

          <h2>Stonestreets Coaches</h2>
          <p>In August 2019, Stonestreets Coaches were taken over.</p>

          <h2>Stuart 's Buses Services Nowra</h2>
          <p>2023 Operator Premier Transport Group has announced that it has successfully completed a new acquisition after signing off to acquire Stuart's Coaches in Nowra.</p>

          <h2>Premier Brings Renewable Buses to Australia</h1>
          <p>Operator Premier Transport Group is the first in Australia to trial Yutong 's new electric bus for six months, as part of a NSW commitment to a minimum 10 per cent of new government fleet vehicles being electric or hybrid from 2020/21, as announced today.</p>

          <h2>Now, We are driving the future ....</h2>
          <img src="../assets/images/bus/DrivingToFturepng.png" alt="Girl in a jacket" width="100%" height="auto">
          <img src="../assets/images/bus/HYD020623-MB-133.jpg" alt="Girl in a jacket" width="100%" height="auto">
        </div>
      </div>

      <div class="instruction">Click to flip the page</div>
      <div class="book">
        <div class="page cover-front" onclick="movePage(this, 1)">
        </div>
        <div class="page cover-front" onclick="movePage(this, 2)"></div>
        <div class="page text-page" onclick="movePage(this, 3)">
          <h1>Premier Illawarra</h1>
          <hr>
          <h2>Premier Transport Group</h2>
          <p>Premier Transport Group is an Australian operator of bus and coach services in New South Wales and Queensland.Its origins can be traced back to December 1987 when John King purchased Nowra Coaches. It has since expanded through a number of acquisitions.</p>
          <p>In December 1987, John King purchased Nowra Coaches from Bill Gill. Nowra Coaches expanded in August 1988 when the school bus services of Sampson Tours were acquired. An all blue livery was adopted. Following the purchase of Pioneer Motor Service, the turquoise and white livery of the express operator was adopted in the 2000s and the operation rebranded Premier Shoalhaven.</p>
        </div>
        <div class="page text-page" onclick="movePage(this, 4)">
          <p>In July 2013, Premier Shoalhaven commenced operating a service between Moss Vale station and Goulburn under contract to NSW TrainLink. It also operates late night services between Bomaderry and Kiama for NSW TrainLink.</p>
      
          <p>1993 Due to a down turn in long distance touring, the King Family started NCT Tours (Asian Travel Agency) marketing directly to the overseas inbound market, NCT operated up until 2020 when it was decided due to COVID 19 to suspend the inbound department.</p>
      
        </div>

        <div class="page text-page" onclick="movePage(this, 5)">
          <h2>Premier Motor Service</h2>
          <p>Pioneer Motor Service commenced operating in August 1929 when Cecil Haigh commenced operating a service from Bomaderry station (Nowra) to Bega via Tilba, Bermagui, Cobargo and Quaama. In 1946 the Bega to Eden service was purchase from Edwards Bus Service. Towns north of Tilba were served by Bartletts Bus Service and Harrisons Motor Service.</p>
      
          <p>In 1962, Pioneer Motor Service purchased Bartletts Bus Service from John A Gilbert resulting in Pioneer Motor Service covering the whole of the South Coast between Nowra and Eden. Harrisons continued to operate the night service until it ceased operating the service in the 1970s. Pioneer Motor Service commenced picking up on the night service also, becoming the sole long distance operator on the South Coast. Following deregulation in the 1990s, Pioneer Motor Service extended its services north to Sydney.</p>
      
        </div>
        <div class="page text-page" onclick="movePage(this, 6)">
          <p>In May 1995, the Haigh family sold the business to John King with the depot relocated to the Nowra Coaches facility</p>
      
          <p>In 1998, the Nowra Coaches group commenced the Year 2000 compliance conversion and have now completed it early in 1999. Premier and Pioneer Motor Service has installed the first Internet booking system for this industry. Agents booking our services can enjoy the efficiency and accuracy of booking straight onto our system through INTERBUS. No more lengthy phone calls or delays waiting for operators plus the ability to get the best product for their clients immediately.</p>
          
          <p>In June 1996, the Sydney to Brisbane services of Kirkland's Bros were acquired followed in August 1996 by the Sydney to Brisbane services of Lindsay's Coaches. Both of these were rebranded as Pioneer Motor Service. In 1997 Greyhound Pioneer Australia took legal action to prevent the Pioneer Motor Service name being used on the services north of Sydney. This action was successful and the operation was rebranded as Premier Motor Service.</p>
        </div>
        
        <div class="page text-page" onclick="movePage(this, 7)">
          <h2>Premier Illawarra</h2>
          <p>On 14 June 2001, John King purchased the two largest operators in Wollongong, John J Hill and Rutty's Bus Service with 125 buses, and rebranded both as Premier Illawarra.</p>

          <p>Since 2008, Premier Illawarra's routes have formed Sydney Outer Metropolitan Bus Region 10 in Wollongong's southern suburbs. It operates depots in Shellharbour and Unanderra.</p>

          <h2>Surf City</h2>
          <p>In July 2007, the Surf City coach operation on the Gold Coast was purchased.</p>

          <h2>Premier Queensland</h2>
          <p>In 2012, Premier Transport Group purchased the business of Busit Queensland with depots in Mackay and Moranbah. It operates school services and contracts for Central Queensland mines including for the BHP Billiton Mitsubishi Alliance.</p>
        
        </div>
        <div class="page text-page" onclick="movePage(this, 8)">
          <h2>Premier Charter</h2>
          <p>On 2 February 2015, the business of Green's Northern Coaches, Thirroul was purchased with 18 buses and rebranded as Premier Charters. It operates two routes as part of Sydney Outer Metropolitan Bus Region 9 in Wollongong's northern suburbs.</p>

          <h2>Hopkinsons</h2>
          <p>On 1 March 2015, a 50% shareholding in Western Sydney charter operator Hopkinsons was purchased.The other 50% was acquired by Gerard King of Kiama Coaches.</p>

          <h2>Kiama Coaches</h2>
          <p>At the time Hopkinsons was acquired, Kiama Coaches also became part of the Premier Transport Group.</p>
       </div>
        <div class="page text-page" onclick="movePage(this, 9)">
          <h2>Stonestreets Coaches</h2>
          <p>In August 2019, Stonestreets Coaches were taken over.</p>

          <h2>Stuart 's Buses Services Nowra</h2>
          <p>2023 Operator Premier Transport Group has announced that it has successfully completed a new acquisition after signing off to acquire Stuart's Coaches in Nowra.</p>

          <h2>Premier Brings Renewable Buses to Australia</h2>
          <p>Operator Premier Transport Group is the first in Australia to trial Yutong 's new electric bus for six months, as part of a NSW commitment to a minimum 10 per cent of new government fleet vehicles being electric or hybrid from 2020/21, as announced today.</p>
        </div>
        <div class="page text-page" onclick="movePage(this, 10)">
          <h2>Now, We are driving the future ....</h2>
          <img src="../assets/images/bus/DrivingToFturepng.png" alt="Premier illawarra" width="100%" height="60%">
        </div>
        <div class="page">
          <img src="../assets/images/bus/TankOne.png" alt="Premier Illawarra" width="100%" height="auto">
        </div>
      </div>
    </div>
  </section><!-- End About Us Section -->



  <div id="services" class="section">
    <div class="top-icon-box position-relative">
      <div class="container position-relative">
        <div class="section-header">
          <div>
            <h2>Our Timeline</h2>
          </div>
        </div>
        <div class="row gy-4">
          <div class="col-xl-12 col-md-12" data-aos="fade-up" data-aos-delay="100">
            <img src="../assets/images/timeline/List.png" alt="HydrogenBus" width="100%" height="100%">
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="services" class="section">
    <div class="top-icon-box position-relative">
      <div class="container position-relative">
        <div class="section-header">
          <div>
            <h2>Our Services</h2>
          </div>
        </div>
        <div class="row gy-4">

          <div class="col-xl-6 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-people"></i></div>
              <h4 class="title"><a href="https://transportnsw.info/" class="stretched-link">Public Service</a></h4>
              <p>Navigate the Illawarra region with Premier Illawarra's extensive and comfortable bus network.</p>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-6 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-hospital"></i></div>
              <h4 class="title"><a href="https://www.premierillawarra.com.au/schoolservices.html" class="stretched-link">School Service</a></h4>
              <p>Safe, reliable school transport by Premier Illawarra connects students to education daily.</p>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-6 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-universal-access-circle"></i></div>
              <h4 class="title"><a href="https://premierms.com.au/" class="stretched-link">Premier Motor Service</a></h4>
              <p>Premier Illawarra's Premier Motor Service offers bespoke travel with superior comfort for all group sizes.</p>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-6 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-truck-front-fill"></i></div>
              <h4 class="title"><a href="https://www.premierillawarra.com.au/" class="stretched-link">Bus Charter</a></h4>
              <p>Flexible and convenient, Premier Illawarra's bus charters cater to all your event transport needs.</p>
            </div>
          </div>
          <!--End Icon Box -->

        </div>
      </div>
    </div>
  </div>

  <!-- - - - - - - - -  Call To Action Section - - - - - - - -  -->
  <section id="call-to-action" class="call-to-action">
    <div class="container text-center" data-aos="zoom-out">
      <h3>Ready to start something great?</h3>
      <a class="cta-btn" href="mailto:info@example.com">Conatct Us</a>
    </div>
  </section><!-- End Call To Action Section -->


  <!-- - - - - - - - -  Our Team Section - - - - - - - -  -->
  <section id="team" class="team sections-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <div>
          <h2>Expert Team</h2>
        </div>
        <div class="d-flex align-items-center">
            <a href="#about" class="fill-button">View All Team Members</a>
        </div>
      </div>

      <div class="row gy-4">
        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <img src="../assets/images/avatars/LT2.jpg" class="img-fluid" alt="">
            <h4>Lisa</h4>
            <span>On-Time Running Coordinator</span>
          </div>
        </div><!-- End Team Member -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <img src="../assets/images/avatars/JT3.jpg" class="img-fluid" alt="">
            <h4>Jarrod</h4>
            <span>Assistant General Manager & Contracts Manager</span>
          </div>
        </div><!-- End Team Member -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <img src="../assets/images/avatars/LC4.jpg" class="img-fluid" alt="">
            <h4>Lily</h4>
            <span>Office Assistant</span>
          </div>
        </div><!-- End Team Member -->


        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <img src="../assets/images/avatars/BW5.jpg" class="img-fluid" alt="JK">
            <h4>Chencan</h4>
            <span>IT & Data Analytics</span>
          </div>
        </div><!-- End Team Member -->
      </div>
    </div>
  </section><!-- End Our Team Section -->

  <!-- - - - - - - - -  Clients Section - - - - - - - -  -->
  <section id="clients" class="clients">
    <div class="container" data-aos="zoom-out">

      <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><img src="../assets/images/clients/client-1.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../assets/images/clients/client-2.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../assets/images/clients/client-3.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../assets/images/clients/client-4.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="../assets/images/clients/client-5.png" class="img-fluid" alt=""></div>
        </div>
      </div>

    </div>
  </section><!-- End Clients Section -->

  

  <%- include('../views/partials/foot'); %>

<script src="../assets/javascripts/CompanyProfile.js"></script>
  <%- include('../views/partials/footer'); %>