<%- include('../views/partials/head'); %>
<%- include('../views/partials/header'); %>

  <!-- - - - - - - - -  Hero Section - - - - - - - -  -->
  <section id="hero" class="page-hero">
    <div class="container position-relative">
      <div class="breadcrumb">
        <ul>
          <li><strong>You are here:</strong></li>
          <li><a href="/">Home</a></li>
          <li><i class="bi bi-chevron-double-right"></i></li>
          <li>Privacy Policy</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

    <div class="single-page section">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <div>
            <h2>Premier Illawarra Privacy Policy</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <p>
              The privacy of your personal information has always been important to us at Premier Illawarra. We are committed to respecting your right to privacy and protecting your personal information. We are bound by the National Privacy Principles in the Privacy Act 1988 (Commonwealth) as well as other applicable laws and codes affecting your personal information. Our staff are trained to respect your privacy in accordance with our standards, policies and procedures.
            </p>
            <p>
              As a company offering a wide range of bus and charter services to customers, we collect and hold a range of personal information from and about people (particularly people who use our services, or provide feedback on our services).
            </p>
            <p>
              This Privacy Policy outlines how we manage your personal information. It also describes the sorts of personal information generally held, for what purposes, and how that information is collected, held, used and disclosed.
            </p>
            <h3>Collecting your Personal Information</h3>
            <ul>
              <li><i class="bi bi-arrow-right-circle-fill"></i> If you are a user of services provided by us, we will collect and hold your personal information for the purposes of: </li>
              <li><i class="bi bi-arrow-right-circle-fill"></i>(1) providing you with any relevant information (which may include assessing School Student Transport Scheme applications and identifying you)</li>
              <li><i class="bi bi-arrow-right-circle-fill"></i>(2) managing and administering the service</li>
              <li><i class="bi bi-arrow-right-circle-fill"></i>The information collected will be the minimum required to execute the service you require and will include your name, postal address, date of birth, or other information Transport for NSW endorses or considers necessary.</li>
              <li><i class="bi bi-arrow-right-circle-fill"></i>We will, if it is reasonable or practicable to do so, collect your personal information from you. This may happen when you fill out an application or an administrative form (eg, a change of address form) or when you give us personal information over the telephone or counter, or through our website (eg, when making charter enquiries or bookings).</li>
              <li><i class="bi bi-arrow-right-circle-fill"></i>In certain cases we collect your personal information from third parties. This might occur, for example where it is important for us to obtain personal information from a school. Customers also provide us with information through submitting travel applications, providing feedback, or booking services etc.</li>
            </ul>

            <h3>Using and Disclosing your Personal Information</h3>
            <ul>
              <li><i class="bi bi-arrow-right-circle-fill"></i> In line with modern businesses we may disclose your personal information to the organisations described below. Where your personal information is disclosed we will seek to ensure that the information is held, used or disclosed consistently with the National Privacy Principles and other applicable privacy laws and codes.</li>
           </ul>

           <h3>Keeping your Personal Information Accurate and Up-To-Date</h3>
           <ul>
             <li><i class="bi bi-arrow-right-circle-fill"></i> We aim to make sure that the personal information we collect, use or disclose is accurate, complete and up-to-date. We will take reasonable steps to make sure this is the case. This way we can provide you with better service. If you believe your personal information is not accurate, complete or up-to-date, please contact us</li>
          </ul>

          <h3>Protecting your Personal Information</h3>
          <ul>
            <li><i class="bi bi-arrow-right-circle-fill"></i>We store information in different ways, including in paper and electronic form. The security of your personal information is important to us and we take reasonable steps to protect it from misuse and loss and unauthorised access, modification or disclosure. </li>
         </ul>
        </div>
      </div>
      </div>
    </div>



  <%- include('../views/partials/foot'); %>
  <%- include('../views/partials/footer'); %>