
<%- include('../views/partials/head'); %>
<%- include('../views/partials/header'); %>

  <!-- Hero Section -->
  <section id="hero" class="page-hero">
    <div class="container position-relative">
     
      <div class="breadcrumb">
        <ul>
          <li><strong>You are here:</strong></li>
          <li><a href="/">Home</a></li>
          <li><i class="bi bi-chevron-double-right"></i></li>
          <li>Service</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <div id="services" class="section">
    <div class="top-icon-box position-relative">
      <div class="container position-relative">
        <div class="section-header">
          <div>
            <h2>Our Services</h2>
          </div>
        </div>
        <div class="row gy-4">

          <div class="col-xl-6 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-people"></i></div>
              <h4 class="title"><a href="https://transportnsw.info/" class="stretched-link">Public Service</a></h4>
              <p>Navigate the Illawarra region with Premier Illawarra's extensive and comfortable bus network.</p>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-6 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-hospital"></i></div>
              <h4 class="title"><a href="https://www.premierillawarra.com.au/schoolservices.html" class="stretched-link">School Service</a></h4>
              <p>Safe, reliable school transport by Premier Illawarra connects students to education daily.</p>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-6 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-universal-access-circle"></i></div>
              <h4 class="title"><a href="https://premierms.com.au/" class="stretched-link">Premier Motor Service</a></h4>
              <p>Premier Illawarra's Premier Motor Service offers bespoke travel with superior comfort for all group sizes.</p>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-6 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-truck-front-fill"></i></div>
              <h4 class="title"><a href="https://www.premierillawarra.com.au/" class="stretched-link">Bus Charter</a></h4>
              <p>Flexible and convenient, Premier Illawarra's bus charters cater to all your event transport needs.</p>
            </div>
          </div>
          <!--End Icon Box -->

        </div>
      </div>
    </div>
  </div>

    <!-- Why Us Section -->
    <section id="whyus" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <div>
            <h2>Why Choose Us</h2>
            <p>Premier Illawarra - Hydrogen Bus Project</p>
          </div>
          <div class="d-flex align-items-center">
              <a href="/CompanyProfile" class="fill-button">Read More</a>
          </div>
        </div>

        <div class="row gy-4  align-items-center">          
          <div class="col-lg-6">
            <div class="content ps-0">
              <ul>
                <li class="active"><i class="bi bi-arrow-right-circle-fill"></i> Extensive Coverage: Services span across the Illawarra region, including key locations like Wollongong and the University of Wollongong.</li>
                <li class="active"><i class="bi bi-arrow-right-circle-fill"></i> School Transport: Offers direct school bus services, with free transport for eligible students.</li>
                <li><i class="bi bi-arrow-right-circle-fill"></i> Charter Services: Provides a wide range of buses for charter with professional planning assistance.</li>
                <li><i class="bi bi-arrow-right-circle-fill"></i> Accessibility: Covers both northern and southern parts of Illawarra, ensuring accessibility.</li>
                <li class="active"><i class="bi bi-arrow-right-circle-fill"></i> Experience: Has established a reputation for reliable service in the area.</li>
                <li class="active"><i class="bi bi-arrow-right-circle-fill"></i> Professional Staff: Employs experienced staff to help with trip planning and customer service.</li>
                <li><i class="bi bi-arrow-right-circle-fill"></i> Community Engagement: Actively engages with the community to cater to its transportation needs.</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <img src="../assets/images/hydrogentBusProject/MultiGroup.jpg" class="img-fluid rounded-4 mb-4" alt="">
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->


    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action">
      <div class="container text-center" data-aos="zoom-out">
        <h3>Have great ideas, ready to share with us</h3>
        <p>or even better wanna join or work with us</p>
        <a class="cta-btn" href="/Contact">Conatct Us</a>
      </div>
    </section><!-- End Call To Action Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <div>
            <h2>Testimonials</h2>
          </div>
        </div>

        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center info-box">
                    <img src="assets/images/testimonials/testimonial-2.jpg" class="testimonial-img flex-shrink-0"
                      alt="">
                    <div>
                      <h3>JP Cook</h3>
                      <h4>06 July</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                          class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Long story short I lost my wallet in Paterson street. Vlad the bus driver who services as a professional driver in coalcliff, found my wallet with $300 in it. 
                    He found my number through my business card and rang me to tell me where can he could return it.
                    Every dollar was still in my wallet.
                    Vlad is an asset to his company and real honest professional.
                    He would except no money in return except to say it's all good I'm glad I could help.
                    Thank you mate, you made my day good again.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center info-box">
                    <img src="assets/images/testimonials/testimonial-1.jpg" class="testimonial-img flex-shrink-0"
                      alt="">
                    <div>
                      <h3>Mary</h3>
                      <h4>05 October</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                          class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    My kids take their school bus.the driver is friendly. Once a new driver didn't see my kids and passed by their waiting spot without stopping. 
                    I called the company, they sent another bus straight away to get my kids to school on time. Very helpful and professional, great service.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center info-box">
                    <img src="assets/images/testimonials/testimonial-3.jpg" class="testimonial-img flex-shrink-0"
                      alt="">
                    <div>
                      <h3>Keena Lara</h3>
                      <h4>21 November </h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                          class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    There are some decent drivers working for Premier. Example the 65 route Port Kembla to Wollongong.
                     Several times I have seen a driver on this route help a very elderly/near blind man onto the bus at Warrawong Plaza, 
                     with his walker and shopping.then at the old mans stop in Lake Heights.the driver helps him off the bus and guides him over to the other side of the street. Good service.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section><!-- End Testimonials Section -->

    <!-- Our Team Section -->
    <section id="team" class="team sections-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <div>
            <h2>Expert Team</h2>
          </div>
          <div class="d-flex align-items-center">
              <a href="#about" class="fill-button">View All Team Members</a>
          </div>
        </div>

        <div class="row gy-4">
          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="../assets/images/avatars/LT2.jpg" class="img-fluid" alt="">
              <h4>Lisa</h4>
              <span>On-Time Running Coordinator</span>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="../assets/images/avatars/JT3.jpg" class="img-fluid" alt="">
              <h4>Jarrod</h4>
              <span>Assistant General Manager & Contracts Manager</span>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <img src="../assets/images/avatars/LC4.jpg" class="img-fluid" alt="">
              <h4>Lily</h4>
              <span>Office Assistant</span>
            </div>
          </div><!-- End Team Member -->


          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="../assets/images/avatars/BW5.jpg" class="img-fluid" alt="JK">
              <h4>Chencan</h4>
              <span>IT & Data Analytics</span>
            </div>
          </div><!-- End Team Member -->
        </div>
      </div>
    </section><!-- End Our Team Section -->

    <%- include('../views/partials/foot'); %>
    <%- include('../views/partials/footer'); %>