{% extends 'TemplateStructure.html' %}
{% block mainContent %}
  <!-- - - - - - - - -  Hero Section - - - - - - - -  -->
  <section id="hero" class="page-hero">
    <div class="container position-relative">
      <div class="breadcrumb">
        <ul>
          <li><strong>You are here:</strong></li>
          <li><a href="/">Home</a></li>
          <li><i class="bi bi-chevron-double-right"></i></li>
          <li>Team</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

    <!-- - - - - - - - -  Our Team Section - - - - - - - -  -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <div>
            <h2>Our Team</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </div>
        </div>

        <div class="row gy-4">
          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="assets/images/team/team-1.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
              </div>
              <h4>Jhone Bi</h4>
              <span>Application Manager</span>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="assets/images/team/team-2.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
              </div>
              <h4>Sani Awesome</h4>
              <span>Social Media</span>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="assets/images/team/team-3.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
              </div>
              <h4>Andrio Willi</h4>
              <span>Content Writer</span>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <img src="assets/images/team/team-4.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
              </div>
              <h4>Afa Jonson</h4>
              <span>Business Manager</span>
            </div>
          </div><!-- End Team Member -->
        </div>
      </div>
    </section><!-- End Our Team Section -->

    <!-- About Us Section -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <div>
            <h2>Our Story</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </div>
          <div class="d-flex align-items-center">
              <a href="#about" class="fill-button">Read Our Full Story</a>
          </div>
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <img src="assets/images/story.jpg" class="img-fluid rounded-4 mb-4" alt="">
          </div>
          <div class="col-lg-6">
            <div class="content ps-0 ps-lg-5" data-aos="fade-right">
              <div class="bar learning" data-skill="TDD"></div>
              <div class="bar back basic" data-skill="Python"></div>
              <div class="bar back intermediate" data-skill="C#"></div>
              <div class="bar front advanced" data-skill="CSS3"></div>
              <div class="bar front expert" data-skill="HTML5"></div>
              <div class="bar front advanced" data-skill="React"></div>
              <div class="bar front basic" data-skill="Javascripts"></div>
              <div class="bar front advanced" data-skill="Node"></div>
              <div class="bar back intermediate" data-skill="AWS"></div>
              <div class="bar front expert" data-skill="SASS"></div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->


    <!-- Why Us Section -->
    <section id="whyus" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <div>
            <h2>Why Choose Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          </div>
          <div class="d-flex align-items-center">
              <a href="#about" class="fill-button">Read More</a>
          </div>
        </div>

        <div class="row gy-4">          
          <div class="col-lg-6">
            <div class="content ps-0">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Xonsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p>
              <ul>
                <li><i class="bi bi-arrow-right-circle-fill"></i> Nemo enim ipsam voluptatem quia voluptas sit aspernatur</li>
                <li><i class="bi bi-arrow-right-circle-fill"></i> Sed quia consequuntur magni dolores eos qui ratione</li>
                <li class="active"><i class="bi bi-arrow-right-circle-fill"></i> Neque porro quisquam est, qui dolorem ipsum quia amet</li>
                <li><i class="bi bi-arrow-right-circle-fill"></i> Consectetur, adipisci velit, sed quia non numquameius</li>
                <li><i class="bi bi-arrow-right-circle-fill"></i> Rempora incidunt ut labore et dolore magnam aliquam</li>
                <li><i class="bi bi-arrow-right-circle-fill"></i> Neque porro quisquam est, qui dolorem ipsum quia amet</li>
                <li><i class="bi bi-arrow-right-circle-fill"></i> Neque porro quisquam est, qui dolorem ipsum quia amet</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <img src="assets/images/whyus.jpg" class="img-fluid rounded-4 mb-4" alt="">
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
    <!-- Footer -->
  <footer id="footer" class="footer-section">
    <div class="container">
        <div class="footer-content pb-5">
            <div class="row">
                <div class="col-xl-3 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html" class="logo d-flex align-items-center">
                              <h1>InnovateTech<span>.</span></h1>
                            </a>
                        </div>
                        <div class="footer-text">
                            <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                            elit,Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="#"><i class="fa fa-facebook facebook-bg"></i></a>
                            <a href="#"><i class="fa fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fa fa-google google-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                     <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Newsletter</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Don't miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><i class="fa fa-telegram"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 mb-50">
                  <div class="contact-information-box-3">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="single-contact-info-box">
                          <div class="contact-info">
                            <h6>Address:</h6>
                            <p>11 West Town</p>
                            <p>PBo 12345, United States</p>
                          </div>
                          <div class="contact-info">
                            <h6>Phone:</h6>
                            <p>+1 1234 56 789</p>
                            <p>+1 1234 56 780</p>
                          </div>
                          <div class="contact-info">
                            <h6>Email:</h6>
                            <p>info@example.com</p>
                            <p>email@example.com</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-left text-lg-left">
                    <div class="copyright-text">
                        <p>InnovateTech © 2023 - Designed by <a href="https://www.templatemonster.com/authors/zrthemes/">Zr Themes.</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block">
                    <div class="footer-menu text-right">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/javascripts/jquery.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/javascripts/plugins.js"></script>
  <script src="assets/javascripts/validator.min.js"></script>
  <script src="assets/javascripts/contactform.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/javascripts/main.js"></script>

</body>

</html>

{% endblock %}