<%- include('../views/partials/head'); %>
<%- include('../views/partials/header'); %>
  <!-- - - - - - - - -  Hero Section - - - - - - - -  -->
  <section id="hero" class="page-hero">
    <div class="container position-relative">
      <div class="breadcrumb">
        <ul>
          <li><strong>You are here:</strong></li>
          <li><a href="/">Home</a></li>
          <li><i class="bi bi-chevron-double-right"></i></li>
          <li>Terms and Conditions</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

    <div class="single-page section">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <div>
            <h2>Premier Motor Service  - Terms and Conditions</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <p>
              Premier Motor Service provides scheduled bus transportation services within the Illawarra region, offering routes that include key community and educational destinations.
            </p>
            <h3>Terms</h3>
            <ul>
              <li><i class="bi bi-arrow-right-circle-fill"></i> Safety and Emergency Procedures: In the event of an emergency, passengers must follow the instructions provided by the driver or onboard safety guides.</li>
              <li><i class="bi bi-arrow-right-circle-fill"></i> Limitation of Liability: Premier Motor Service is not responsible for delays caused by road conditions, weather, or other factors beyond our control.</li>
              <li><i class="bi bi-arrow-right-circle-fill"></i> Changes to Service:Premier Motor Service reserves the right to change bus schedules, routes, or fares with proper notice to passengers via our website or through direct communication.</li>
              <li><i class="bi bi-arrow-right-circle-fill"></i> Governing Law: These terms are governed by the laws of New South Wales, Australia.</li>
              <li><i class="bi bi-arrow-right-circle-fill"></i> Contact Information:  For customer service inquiries or feedback, please contact us at enquiries@premierillawarra.com.au or call our customer service hotline.</li>
            </ul>

        </div>
      </div>
      </div>
    </div>


  <%- include('../views/partials/foot'); %>
  <%- include('../views/partials/footer'); %>