
<%- include('../views/partials/head'); %>
<%- include('../views/partials/header'); %>


    <!-- Why Us Section -->
    <section id="whyus" class="about" style="margin-top: 200px;" >
      <div class="container" data-aos="fade-up">
  
        <div class="d-flex justify-content-center align-items-center mb-5" style="color:#01BA89; text-align: center;" >
          <div>
            <h2>Thanks for your support, We have received your feedback.</h2>
          </div>
        </div>
      </div>
    </section><!-- End About Us Section -->



  <!-- Testimonials Section -->
  <section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">

      <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="50">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-wrap">
                <img src="../assets/images/Slider/Slider1.jpg" class="testimonial-img flex-shrink-0"  height="auto;" width="100%;" alt="">
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <img src="../assets/images/Slider/Slider2.jpg" class="testimonial-img flex-shrink-0" height="auto;" width="100%;" alt="">
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
                <img src="../assets/images/Slider/Slider3.jpg" class="testimonial-img flex-shrink-0" height="auto;" width="100%;" alt="">
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
                <img src="../assets/images/Slider/Slider4.jpg" class="testimonial-img flex-shrink-0" height="auto;" width="100%;" alt="">
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
                <img src="../assets/images/Slider/Slider5.jpg" class="testimonial-img flex-shrink-0" height="auto;" width="100%;" alt="">
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
                <img src="../assets/images/Slider/Slider6.jpg" class="testimonial-img flex-shrink-0" height="auto;" width="100%;" alt="">
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
                <img src="../assets/images/Slider/Slider7.jpg" class="testimonial-img flex-shrink-0" height="auto;" width="100%;" alt="">
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
                <img src="../assets/images/Slider/Slider8.jpg" class="testimonial-img flex-shrink-0" height="auto;" width="100%;" alt="">
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section><!-- End Testimonials Section -->




    <%- include('../views/partials/foot'); %>
    <%- include('../views/partials/footer'); %>